.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 70px;
}
.red {
    color: rgb(50, 124, 124);
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
video {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}